/* NOTE: This dictates the font sizing for the whole page */
body {
  font-size: 14px;
}
/* NOTE: This is the style for the fixed nav bar */
nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}
/* NOTE: This is a stylization of the 'section' tag that contains all the divs and headers */
section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
  }
/* NOTE: This is the style for the class ".example"  */
.example, h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

/* NOTE:This is the change to the last 3 div elements.
A new element-2 class to distinguish from the class element  */

.element, .element-2 {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

.element-2 {
    background-color: purple;
  }
